:root {
  --color-rojo-general: #dd0329;
  --color-blanco-fondo: #ededed;
  --color-celeste-items: #2972b8;

  --color-amarillo-logo: #ffcb05;
  --color-gris-desabilitado: #6a737b;
}

body {
  background-color: var(--color-blanco-fondo);
}
.contenedor-estructura-main {
  max-width: 100vw;
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-rojo-general);
}
.contenedor-logo {
  max-width: 500px;
  max-height: 100px;
  overflow: hidden;
}
.logo-pokemon {
  width: 200px;
  height: 90px;
}
.contenedor-buscador {
  margin: 20px 0;
  margin-top: 0;
  width: 302px;
}
.boton-buscar-pokemon {
  background-color: var(--color-celeste-items);
  color: var(--color-blanco-fondo);
}

/* CARTAS */

.contenedor-grilla {
  padding: 50px 0;
}
.columna-grilla {
  display: flex;
  justify-content: center;
}
.columna-decoracion {
  color: gray;
  filter: opacity(0.1);
}
.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding-top: 16px;
  width: 256px;
  height: 359px;
}
.contenedor-imagen-pokemon {
  display: flex;
  justify-content: center;
  width: 87%;
  max-width: 500px;
  height: 165px;
  padding: 14px;
  padding-bottom: 0px;
}
.imagen-carta {
  object-fit: contain;
  width: 100%;
  max-width: 150px;
  cursor: pointer;
}
.contenedor-info-pokemon {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  color: black;
  width: 87%;
  border-top: 0px;
}
.contenedor-id-pokemon {
  display: flex;
  align-items: center;
}
.numero-identificacion-pokemon {
  margin: 0;
  font-size: 20px;
}
.contenedor-nombre-pokemon {
  display: flex;
  align-items: center;
}
.nombre-pokemon {
  margin: 0;
  font-size: 22px;
  text-decoration: underline;
}
.contenedor-tipos-pokemon {
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
  padding-bottom: 20px;
  width: 87%;
  overflow: hidden;
}
.contenedor-tipo {
  height: 100%;
  width: 40%;
}
.imagen-tipos {
  height: 100%;
  width: 100%;
}

/* CAMBIO PAGINA */

.contenedor-cambio-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.indicador-pagina {
  margin: 0 20px;
}
.contenedor-boton-anterior,
.contenedor-boton-siguiente,
.contenedor-indicador-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.contenedor-indicador-pagina {
  width: 70px;
}
.boton-anterior-pagina,
.boton-siguiente-pagina {
  margin: 0 10px;
  padding: 5px;
  width: 86px;
  height: 36.5px;
  border: 1px solid var(--color-celeste-items);
  border-radius: 5px;
  background-color: var(--color-celeste-items);
  color: var(--color-blanco-fondo);
  font-weight: 400;
  text-align: center;
}
.boton-anterior-pagina:hover,
.boton-siguiente-pagina:hover {
  transition: background-color 0.1s linear;
  background-color: var(--color-gris-desabilitado);
}

/* CARTA RESPUESTA */

.carta-respuesta{
  margin: 40px 0;
  border: 1px solid rgba(211, 211, 211, 0.463);
  border-radius: 7px;
}
.contenedor-boton-cerrar-detalles{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.boton-cerrar-detalles{
  margin: 10px;
  margin-bottom: 0;
}
.contenedor-pokemon-elegido{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contenedor-principal-info{
  display: flex;
  flex-direction: row;
}
.contenedor-nombre-poke-elegido,
.contenedor-id-pokemon-elegido{
  margin: 10px 20px;
}
.nombre-pokemon-elegido,
.id-pokemon-elegido{
  margin: 0;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 600;
}
.imagen-pokemon-elegido{
  object-fit: contain;
  width: 100%;
  cursor: pointer;
}
.contenedor-tipos-pokemon-elegido{
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  max-width: 400px;
  height: 105px;
  padding: 35px 0;
}

/* STATS */

.contenedor-titulo-stats{
  margin: 20px 0;
}
.titulo-stats{
  text-align: center;
}
.contenedor-stats{
  display: flex;
}
.lista-respuestas-stats,
.lista-stats{
  margin: 0 30px;
  list-style: none;
}
.lista-stats{
  padding-left: 0;
}
.lista-respuestas-stats{
  padding-left: 0;
}
.item-lista{
  margin: 10px 0;
}

#deshabilitado {
  background-color: var(--color-gris-desabilitado);
  border: 1px solid var(--color-gris-desabilitado);
}
#error-validacion::placeholder {
  color: var(--color-rojo-general);
}
#oculto {
  display: none;
}
